@import url("fonts.css");

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: whitesmoke;
    --accent: #06c006;
    --accent-soft: #6cef6c;
    --accent-hard: #067706;

    --white-font: white;
}

body{
    height: 100vh;
}

/* Header */
header{
    height: 10vh;
    background-color: var(--accent);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    color: var(--white-font);
    font-family: Inter, serif;
    padding-left: 3vw;
}

/* Main */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 85vh;
    background-color: var(--bg-color);
    color: var(--accent-hard);
    font-size: 30px;
    font-family: Inter, serif;
}

main a{

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3vw;
    text-decoration: none;
    background-color: var(--accent-soft);
    border-radius: 3vw;
    width: 30vw;
    height: 10vh;

}

main p{
    text-decoration: none;
    color: var(--white-font);
    font-weight: 700;
}

/* Footer */
footer{
    color: var(--white-font);
    font-family: Inter, serif;
    height: 5vh;
    background-color: var(--accent);

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-weight: 700;
}