@import url("fonts.css");

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: whitesmoke;
    --color-hover: #bf2b2b;
    --color-header-footer: #000000;
    --white-font: white;
}

body{
    height: 100vh;
}

/* Header */
header{
    height: 8vh;
    background-color: var(--color-header-footer);
    display: flex;
    align-items: center;
    justify-content: center;
}

header h2{
    color: var(--white-font);
    font-family: Inter, serif;
    font-size: 4vh;

}

/* Main */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: calc(100vh - (8vh + 8vh));
    background-color: var(--bg-color);
    color: var(--color-header-footer);
}

#botonComenzar{
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    background-color: var(--color-header-footer);
    border-radius: 45px;
    width: 40vh;
    height: 10vh;
    margin-top: 5vh;
    transition: scale 1.5s;
}

#botonComenzar:hover{
    scale: 1.25;
}

#botonComenzar p{
    text-decoration: none;
    color: var(--white-font);
    font-weight: 700;
    font-size: 4.5vh;
}

h1{
    font-size: 7.5vh;
}

.subtitulo{
    font-size: 3vh;
    margin-top: 1vh;
}

/* Footer */
footer{
    color: var(--white-font);
    font-family: Inter, serif;
    height: 8vh;
    background-color: var(--color-header-footer);

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-weight: 700;
    font-size: 2vh;
}